* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", Arial, sans-serif;
  color: #555;
  font-size: 1rem;
  line-height: 1.7;
}

.top {
  width: 100%;
  height: 2.5rem;
  background-color: #fafafa;
}

.top-box {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.top-box a {
  color: #555;
  /* display: none; */
}

.top-box-l {
  width: 7.5%;
  height: 50%;
  float: right;

  margin-top: 0.625rem;
  font-size: 0.75rem;
}

.top-box-r {
  width: 6%;
  height: 50%;
  float: right;

  margin-top: 0.625rem;
  font-size: 0.75rem;
}
.top-box-z {
  width: 6%;
  height: 50%;
  float: right;

  margin-top: 0.625rem;
  font-size: 0.75rem;
}
.logo {
  width: 60%;
  height: 7.5rem;

  margin: auto;
  display: flex;
  justify-content: space-around;
}

.logo-img {
  width: 30%;
  height: 100%;
}

.logo-img img {
  height: 100%;
}

.classify {
  width: 60%;
  height: 18.75rem;
  background-color: pink;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.rec {
  width: 60%;
  height: 17.15625rem;
  margin: auto;
}

.rec-box {
  width: 95%;
  height: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid #555;
}
.rec-box-text {
  height: 11%;
  width: 100%;
  font-size: 1.375rem;
  border-bottom: 1px dashed #555;
}
.rec-box-img1 {
  width: 98%;
  height: 90%;
  margin: auto;
  
}
.rec-box-img1 ul {
  display: flex;
  justify-content: flex-start;
}
.rec-box-img1 ul li {
  width: 20%;
  height: 100%;
}
.rec-box-img1 a {
  width: 100%;
  height: 85%;
}
.rec-box-img1-book {
  width: 85%;
  margin: auto;
  height: 4.4rem;
  /* font-size: 15px;
      line-height: 15px; */
}
.rec-box-img1-book ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rec-box-img1-book ul li {
  width: 100%;
  height: 100%;
}
.rec-box-img1-box {
  width: 100%;
  height: 85%;
  margin: 0;
}
.book-name {
  font-size: 1.1875rem;
  font-family: "黑体";
  color: #fa0505;
}
.book-writer {
  font-size: 0.625rem;
  color: #555;
}
.book-price {
  font-size: 0.8125rem;
  color: #c9141d;
}
.rec-box-img1 ul li img {
  width: 10.625rem;
}
.bottom {
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #f5f5f5;
  margin-top: 1%;
}

.bottom-img {
  width: 60%;
  margin: auto;
}
.bottom-img img {
  width: 100%;
}
.bottom-on {
  width: 60%;
  margin: 3% auto;
}

.box {
  width: 42%;
  margin: 5% auto;
  font-family: "Microsoft YaHei";
  font-size: 0.875rem;
}

.box::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
}

input {
  width: 58%;
  border: 2px solid #fa0505;
  height: 1.875rem;
  float: left;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-size: 1.5625rem;
  background-position: 0.3125rem center;
  padding: 0 0 0 2.5rem;
}

input:focus {
  outline: none;
}
.search {
  width: 4.875rem;
  height: 2.125rem;
  float: left;
  background: red;
  color: white;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.logo-box {
  width: 6.5625rem;
  height: 2.125rem;
  color: #666666;
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  margin: 5% auto;
  border: 1px solid #ecbbbb;
}

.logo-text {
  width: 4.25rem;
  height: 100%;
  background: #f9f9f9;
}

.logo-cart {
  width: 35%;
  height: 100%;
  background: #f9f9f9;
}

.logo-cart img {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
}

.nav {
  width: 100%;
  height: 2.1875rem;
  background-color: #c9141d;
}

.nav-box {
  margin: auto;
  color: white;
  font-size: 1.25rem;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-box-box1 {
  width: 20%;
  height: 100%;
}

.nav-box-box1:hover {
  background-color: #e63547;
}

.nav-box-box2:hover {
  background-color: #e63547;
}

.nav-box-box3:hover {
  background-color: #e63547;
}

.nav-box-box2 {
  width: 20%;
  height: 100%;
}

.nav-box-box3 {
  width: 20%;
  height: 100%;
}

.nav-box a {
  display: block;
  width: 100%;
  height: 2.1875rem;
  color: white;
  font-size: 1.125rem;
  text-align: center;
  line-height: 2.1875rem;
  font-family: "Arial", "Microsoft YaHei", "XingKai", sans-serif;
}

.classify-box1 {
  width: 30%;
  height: 100%;
  background-color: #a21413;
  color: white;
  font-size: 1.5625rem;
}

.classify-type {
  width: 80%;
  height: 24%;
  line-height: 3.125rem;
  background-color: #a21413;
  margin: 0px auto;
  border-bottom: 1px dashed #f00;
}

.classify-img {
  width: 70%;
  height: 100%;
  color: white;
  font-size: 1.125rem;
  background-color: #e63547;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-box {
  width: 100%;
  height: 13%;
}

.main-box-ul li {
  display: block;
  width: 25%;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  cursor: pointer;
}

.main-box-ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.changeColor {
  background: #ffcc00;
  border-radius: 5px;
}

.banner {
  width: 100%;
  height: 87%;
  overflow: hidden;
}

.banner-slide {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  /* position: absolute; */
}

.banner-slide img {
  height: 100%;
  width: 100%;
}

.slide1 {
  width: 100%;
}

.slide2 {
  width: 100%;
}

.slide3 {
  width: 100%;
}

.slide4 {
  width: 100%;
}
